.review {
  display: grid;
  grid-template-columns: 48px auto;
  grid-auto-rows: auto;
  max-width: 711px;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  font-size: $body-font-size;
  color: $darkshade75;
  line-height: 24px;
  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  &__like {
    justify-items: center;
    margin-left: 3px;
  }
  &__name {
    font-weight: 700;
  }

}