extends ../../templates/main
include ../../components/room-reservation/room-reservation
include ../../components/room-info-block/room-info-block
include ../../components/gallery/gallery

block variables
  - const title = 'Room details'

block content
  main.room-details
    +gallery()
    .room-details__container
      +room-info-block()
      .room-details__reservation
        +room-reservation()


    
