@import '@/styles/consts.scss';

@mixin button-border() {
}

.button {
  padding: 0 20px;
  height: 44px;
  border-radius: 22px;
  border: none;
  text-transform: uppercase;
  @include montserrat;
  font-size: $h3-font-size;
  color: $white;
  font-weight: 700;
  line-height: 14.63px;
  &:focus, &:active {
    outline: none;
  }
  &:disabled:hover {
    cursor: auto;
  }
  &:hover {
    cursor: pointer;
  } 
  &-border {
    position: relative;
    padding: 2px;
    @include gradient;
    color: $purple;
    span {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 16px;
      border-radius: 22px;
      border: 2px solid transparent;
      background-clip: padding-box;
      background: #fff;
    }
    &:disabled::after {
      opacity: 0.5;
    }
  }
  &-main {
    width: 100%;
    position: relative;
    @include gradient;
    &::after {
      content: 'arrow_forward';
      @include material-icons;    }
  }
  &-fill {
    @include gradient;
    &:disabled {
      opacity: 0.5;
    }
  }
  &-string {
    color: $purple;
    background: none;
    height: 15px;
    padding: 0;
    &:disabled {
      color: $darkshade50;
    }
  }
}