@import '@/styles/consts.scss';

.button {
  padding: 0 20px;
  height: 44px;
  border-radius: 22px;
  border: none;
  text-transform: uppercase;
  @include montserrat;
  font-size: $h3-font-size;
  color: $white;
  font-weight: 700;
  line-height: 14.63px;
  transition: .2s;
  &:active {
    outline: none;
  }
  &:disabled:hover {
    cursor: auto;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  } 
  &-border {
    position: relative;
    padding: 2px;
    @include gradient;
    color: $purple;
    width: 99px;
    span {
      @include grid-center;
      height: 100%;
      border-radius: 22px;
      border: 2px solid transparent;
      background-clip: padding-box;
      background: #fff;
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  &-main {
    width: 100%;
    position: relative;
    padding-bottom: 1px;
    @include gradient;
    &::after {
      content: 'arrow_forward';
      @include material-icons;    
    }
  }
  &-fill {
    @include gradient;
    &:hover {
      opacity: 0.5;
    }
  }
  &-string {
    color: $purple;
    background: none;
    height: 15px;
    padding: 0;
    &:hover {
      color: $darkshade50;
      opacity: 1;
    }
  }
}