mixin date-dropdown(props)
  .field-wrapper.date-dropdown
    if props.title
      .field-wrapper__title= props.title
    .field-wrapper__arrow.dropdown-arrow expand_more
    input(type="text", placeholder="ДД.ММ.ГГГГ" class=`field-wrapper__input date-dropdown__input`)
    .dropdown__menu(id = props.id)
      .datepick datepick

    
      
