mixin date-dropdown(props)
  .field-wrapper.date-dropdown
    if props.title
      .field-wrapper__title= props.title
    .field-wrapper__arrow.dropdown-arrow expand_more
    if props.main  
      input(type="text", placeholder="ДД.ММ.ГГГГ", class=`field-wrapper__input date-dropdown__input datepicker-here js-date-in`, data-range="true" data-multiple-dates-separator=".")
    else
      input(type="text", placeholder="ДД.ММ.ГГГГ" class=`field-wrapper__input date-dropdown__input js-date-out`)

    
      
