.pagination {
  max-width: 240px;
  &__title {
    @include field-title;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  &__slider {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 7px;
  }
  &__page {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    font-size: $h3-font-size;
    line-height: 16px;
    font-weight: 400;
    color: $darkshade50;
    border-radius: 50%;
    text-decoration: none;
    &_active {
      font-weight: 700;
      color: #fff;
      @include gradient;
    }
  }
  &__arrow {
    @include blue-green-gradient;
    @include material-icons-text-only;
    color: #fff;
  }
  &__label {
    color: $darkshade75;
    font-size: $body-font-size;
    margin-left: 6px;
    line-height: 24px;
  }
}