.rate-button {
  position: relative;
  &__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 16px;    
  } 
  &__star {
    @include gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}