.rate-button {
  @include field-wrapper;
  position: relative;
  &__title {
    @include field-title;
    margin-bottom: 16px;
  }
  &__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  } 
  &__input {
    display: none;
  }
  &__star {
    @include gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
    &_inactive {
      &:hover {
        cursor: default;
      }
    }
  }
}