mixin rate-button({ count, title, static })
  -
    const starsCount = count ? count : 0;
    const bordersCount = 5 - starsCount;
    let startStars = 0;
    let startBorders = 0;

  .rate-button.js-rate-button
    if title
      .rate-button__title= title
    if static
      .rate-button__item
        while (startBorders++ < bordersCount)
          i.material-icons.rate-button__star.rate-button__star_type_static star_border
        while (startStars++ < starsCount)
          i.material-icons.rate-button__star.rate-button__star_type_static star_
    else
      .rate-button__item
        input.rate-button__input.js-rate-button__input
        while (startStars++ < 5)
          i.material-icons.rate-button__star.rate-button__active-star.js-rate-button__active-star star_border