include ../like-button/like-button

mixin review({ imgSrc, username, date, message })
  .review
    img.review__icon(src=imgSrc)
    .review__user
      .review__name= username
      .review__date= date
    .review__like 
      +like-button({title: ''})
    .review__message= message
      
