mixin radio-buttons({ title })
  - const radios = [{ id: 'men', labelText: 'Мужчина' }, { id: 'women', labelText: 'Женщина' }]

  .radio-buttons
    if title
      .radio-buttons__title= title
    .radio-buttons__items
      each radio in radios
       .radio-buttons__item
          input.radio-buttons__button(type="radio" id=radio.id value=radio.labelText name="sex")
          label.radio-buttons__label(for=radio.id)= radio.labelText