mixin radio-buttons(props)
  - var radios = [{ id: 'men', text: 'Мужчина' }, { id: 'women', text: 'Женщина' }]
  .radio-buttons
    if props.title
      .radio-buttons__title= props.title
    .radio-buttons__items
      each radio in radios
       .radio-buttons__item
          input.radio-buttons__button(type="radio" id=radio.id value=radio.text name="sex")
          label.radio-buttons__label(for=radio.id)= radio.text