.subscription-text-field {
  &.field-wrapper {
    width: 266px;
  }
  .field-wrapper__arrow {
    @include gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}