mixin subscription-text-field(props)
  .field-wrapper.subscription-text-field
    if props.title
      .field-wrapper__title= props.title
    .field-wrapper__arrow arrow_forward
    input(type="text" placeholder=props.placeholderText class="subscription-text-field__input field-wrapper__input")

  