.room-reservation {
  .field-wrapper-guests {
    margin-bottom: 21px;
  }
  .room-card {
    &__header {
      margin-bottom: 20px;
      padding-bottom: 0;
      border: 0;
    }
    &__number {
      font-size: $h1-font-size;
      margin-right: 8px;
      padding-top: 1px;
    }
    &__lux {
      padding-bottom: 3px;
    }
    &__price-box {
      margin-right: 0;
      padding-bottom: 2px;
    }
  }
  .card-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }
  &__notes {
    padding-left: 1px;
    margin-bottom: 30px;
  }
  &__note {
    display: grid;
    grid-template-columns: minmax(auto, 240px) 1fr;
    color: $darkshade75;
    font-size: $body-font-size;
    @media (max-width: 380px) {
      grid-template-columns: 2fr 1fr;
    }
    &:first-child {
      margin-bottom: 16px;
    }
    &:nth-child(2) {
      margin-bottom: 14px;
    }
  }
  &__service {
    max-width: 215px;
    &-box {
      display: grid;
      grid-template-columns: 1fr 20px;
      justify-content: space-between;
      width: 239px;
      @media (max-width: 380px) {
        width: auto;
      }
    }
  }
  &__info {
    display: inline-grid;
    place-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $darkshade25;
    border-radius: 50%;
    color: $darkshade25;
    font-size: $h3-font-size;
    font-weight: 700 ;
  }
  &__price {
    justify-self: end;
    &::after {
      content: '\20BD'
    }
  }
  &__total {
    &-wrapper {
      display: flex;
      font-size: $h2-font-size;
      color: $darkshade;
      font-weight: 700;
      margin-bottom: 21px;
    }  
    &-price {
      @media (max-width: 340px) {
        margin-right: 0;
      }
      &::after {
        content: '\20BD'
      }
    }  
  }
  &__label {
    padding-left: 1px;
  }
  &__space {
    flex: 1;
    background: linear-gradient(90deg, $darkshade25 1px, transparent 1px) repeat-x;
    height: 1px;
    align-self: flex-end;
    background-size: 2px;
    margin: 0 5px;
    margin-bottom: 4px;
  }
}

.datepicker {
  width: 320px;
  padding: 20px;
  padding-top: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  @include boxshadow;
  @include montserrat;
  @media (max-width: 380px) {
    width: 287px;
    padding-right: 3px;
    padding-left: 3px;
  }
  &--nav {
    border-bottom: 0;
    padding: 0;
    &-action {
      width: 24px;
      &:hover {
        background: none;
        border-radius: 0;
      }
    }
    &-title {
      &:hover {
        background: none;
        border-radius: 0;
      }
    }
  }
  &__title {
    font-size: $h2-font-size;
    font-weight: 700;
    color: $darkshade;
  }
  &--content {
    padding: 0;
  }
  &__arrow {
    @include material-icons-text-only;
    color: $purple;
  }
  &--days-names {
    margin: 0;
    margin-top: 26px;
  }
  &--day-name {
    color: $purple;
    font-weight: 700;
    font-size: $h3-font-size;
    width: 40px;
    height: 40px;
    text-transform: none;
  }
  &--cells {
    &-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
  &--cell {
    border-radius: 50%;    
    &-day {
      width: 40px;
      height: 40px;
      font-size: $h3-font-size;
      color: $darkshade50;
    }
    &-day.-other-month-,
    &-year.-other-decade- {
      color: $darkshade25;
    }
  }  
  &--cell-day.-range-from-,
  &--cell-day.-range-to-.-range-from-,
  &--cell-day.-range-to-,
  &--cell-day.-range-from-.-other-month-,
  &--cell-day.-range-to-.-range-from-.-other-month-,
  &--cell-day.-range-to-.-other-month- {
    @include gradient25;
    border-radius: 0;
    border: none;
    color: #fff;
    &::before {
      position: absolute;
      content: '';
      @include gradient;      
      height: 100%;
      width: 100%;
      border-radius: 50%;
      z-index: -1;
    }
  }
  &--cell-day.-range-from-,
  &--cell-day.-range-from-.-other-month- {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  &--cell-day.-range-to-,
  &--cell-day.-range-to-.-other-month- {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &--cell-day.-range-to-.-focus-,
  &--cell-day.-range-from-.-focus- {
    color: #fff;
    @include gradient25;
  }
  &--cell-day.-focus- {
    @include gradient25;
    color: $darkshade50;
  }
  &--cell-day.-focus-.-selected- {
    color: #fff;
  }
  &--cell-day.-current- {
    color: #fff;
    @include blue-green-gradient;
  }
  &--cell-day.-range-to-.-current-.-selected- {
    @include gradient25;
  }
  &--cell-day.-current-.-in-range- {
    border-radius: 0;
    color: $darkshade50;
  }
  &--cell-day.-in-range-,
  &--cell-day.-in-range-.-other-month-,
  &--cell-day.-in-range-.-focus-,
  &--cell-day.-in-range-.-focus-.-other-month- {
    @include gradient25;
    color: $darkshade50;
  }
  &--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 6px;
    button {
      padding: 0;
      color: $purple;
      text-transform: uppercase;
      font-size: $h3-font-size;
      font-weight: 700;
      background: none;
      border: none;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  &--clear {
    justify-self: start;
    &_disabled {
      display: none;
    }
  }
  &--apply {
    justify-self: end;
    grid-column: 2 / 3;
  }
}