include ../dropdown/dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin note(props)
  .room-reservation__note
    .room-reservation__service-box
      if (props.subTitle || props.subTitle === '')
        .room-reservation__service #{props.title}&#8381; #{props.subTitle}
      else
        .room-reservation__service= props.title
      if props.info
        span.room-reservation__info i
    span.room-reservation__price= props.price

form(action="").room-reservation.card-wrapper
  .room-card__header
    h2.card-title
      span.room-card__number 888
      span.room-card__lux люкс
    div.room-card__price-box
      span.room-card__day-price 9 990
      span.room-card__time в сутки
  .date-container
    +date-dropdown({ title: 'Прибытие', main: true})
    +date-dropdown({ title: 'Выезд'})
  +dropdown({ title: 'Гости', placeholderText: 'Сколько гостей', id: 'guests' })
  .room-reservation__notes
    +note({ title: '9 990', subTitle: 'x 4 суток', price: '39 960' })
    +note({ title: 'Сбор за услуги: скидка 2 179', subTitle: '', price: '0', info: 'Сбор за услуги' })
    +note({ title: 'Сбор за дополнительные услуги', price: '300', info: 'Сбор за дополнительные услуги' })
  .room-reservation__total-wrapper
    .room-reservation__label Итого
    .room-reservation__space
    .room-reservation__total-price 38 081
  +button({ text: 'Забронировать', class: 'button-fill button-main' })


