.like-button {
  @include field-wrapper;
  &__title {
    @include field-title;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  &__item {
    display: flex;
    width: 40px;
    height: 20px;
    position: relative;
    color: $darkshade25;
    padding: 1px;
    border-radius: 10px;
    &_active {
      color: $purple;
      .like-button__border {
        fill: url(#like-button-gradient);
      }
      .like-button__icon::before {
        content: 'favorite';
      }
    }
  }
  &__input {
    width: 40px;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 1px;
    font-size: 10px;
    background: none;
    border: none;
    color: inherit;
    z-index: 5;
    @include montserrat;
    &:hover {
      cursor: pointer;
    }
    &:active, 
    &:focus {
      outline: none;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0 0 5px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 1;
    background-clip: padding-box;
    z-index: 3;
    color: inherit;
    &::before {
      content: 'favorite_border';
      position: absolute;
      top: 5px;
      left: 6px;
      font-family: "Material Icons";
      font-style: normal;
      font-size: 10px;  
    }  
  }
  &__svg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
  }
  &__border {
    fill: $darkshade25;
  }
}