mixin like-button({ title, likesCount=12 })
  .like-button
    if (title)
      .like-button__title= title
    .like-button__item
      input.like-button__input.js-like-button__input(type="button" value=likesCount)
      i.material-icons.like-button__icon favorite_border

  