mixin logo(props)
  -
    var className = "logo"
    className += props.isUI ? " logo-ui" : ""
  if props.isUI
    div(class = className)
      .logo__curve
        include ./img/logo1.svg
      .logo__curve
        include ./img/logo2.svg
  else
    a.logo__box(href="/blank.html")
      div(class = className)
        .logo__circle-wrapper
          .logo__curve
            include ./img/curve-logo1.svg
          .logo__curve
            include ./img/curve-logo2.svg
      .logo__text
        include ./img/logo-text.svg