@import '@/styles/consts.scss';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  box-sizing: padding-box;
  margin-right: 12px;
  @include gradient;
  &-ui {
    border: 3px solid $darkshade25;
    width: 48px;
    height: 48px;
    background: none;
    .logo__curve {
      margin-top: 3px;
    }
  }
  &-container {
    padding: 30px 0 65px 30px;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__circle-wrapper {
    @include flex-justify-c-align-c;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
  }
  &__curve {
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
    min-height: 15px;
    &:last-child {
      transform: translateX(-1px);
    }
  }
  &__text {
    transform: translateY(1px);
  }
}