.registration {
  .card-title + .field-wrapper + .field-wrapper {
    margin-bottom: 9px;
  }
  .field-wrapper {
    margin-bottom: 10px;
  }
  .radio-buttons {
    margin-bottom: 16px;
  }
  .masked-text-field {
    margin-bottom: 11px;
  }
  .button-main {
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .toggle {
    margin-top: -2px;
  }
  &__login-wrapper {
    @include flex-justify-sb-align-c;
    > span {
      font-size: $body-font-size;
      margin-left: 1px;
      margin-top: -2px;
    }
  }
}