.registration {
  .field-wrapper {
    margin-bottom: 10px;
  }
  .radio-buttons {
    margin-bottom: 20px;
  }
  .masked-text-field {
    margin-bottom: 10px;
  }
  .button-main {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}