.room-selection {
  .card-title {
    margin-bottom: 22px;
  }
  .field-wrapper-guests {
    margin-bottom: 31px;
  }  
  .date-dropdown {
    margin-bottom: 21px;
  }
  .main-button {
    span {
      margin-left: -3px;
    }
  }
}