.date-dropdown {
  @include field-wrapper;
  max-width: 150px;
  margin-bottom: 20px;
  &__title {
    @include field-title;
  }
  &__arrow {
    @include field-arrow;
  }
  &__input {
    @include field-input;
    padding-bottom: 4px;
    &:hover {
      cursor: pointer;
    }
    &::placeholder {
      color: $darkshade75;
    }
  }
}