mixin filter-date-dropdown(props)
  .filter-date-dropdown.field-wrapper.mb-40
    if props.title
      .field-wrapper__title= props.title
    .field-wrapper__arrow.dropdown-arrow expand_more
    input(type="text" id="filter-date-dropdown" readonly placeholder=props.placeholderText class="dropdown field-wrapper__input datepicker-here" data-range="true" value=`${props.dateIn} - ${props.dateOut}`)

  