mixin room-info(props)
  - var items = props.items

  .room-info
    if props.title
      .field-wrapper__title= props.title
    each item in items
      +room-info-item({content: item.content, title: item.title, sub: item.sub})

mixin room-info-item(props)
 .room-info__item
    i.room-info__icon.material-icons= props.content
    .room-info__title= props.title
    .room-info__sub= props.sub