.like-button {
  &.field-wrapper {
    margin-bottom: 41px;
  }
  .field-wrapper__title {
    margin-bottom: 15px;
  }
  &__item {
    width: 40px;
    height: 20px;
    position: relative;
    color: $darkshade25;
  }
  &__icon {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    padding: 5px 0 0 5px;
    border-radius: 10px;
    height: 20px;
    opacity: 0;
    font-size: 10px;
    background-clip: padding-box;
    z-index: -1;
    &::after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -2;
      margin: 1px;
      border-radius: inherit; 
      background: #fff;
    }
    &_inactive {
      opacity: 1;
      background: $darkshade25;
    }
    &_active {
      color: $purple;
      @include gradient;
    }
  }
  &__input {
    width: 40px;
    height: 20px;
    padding-left: 15px;
    font-size: 10px;
    line-height: 10px;
    background: none;
    border: none;
    color: $darkshade25;
    @include montserrat;
    &:active + i + .like-button__icon_active {
      opacity: 1;
    }
    &:active {
      color: $purple;

    }
    &:hover {
      cursor: pointer;
    }
    &:active, 
    &:focus {
      outline: none;
    }
  }
}