mixin like-button(props)
  - var likesCount = 12;
  .field-wrapper.like-button
    if (props.title)
      .field-wrapper__title= props.title
    .like-button__item
      input(type="button" class="like-button__input" value=likesCount)
      i.material-icons.like-button__icon_inactive.like-button__icon favorite_border
      i.material-icons.like-button__icon_active.like-button__icon favorite    

  