.expandable-checkbox-list {
  @include field-wrapper;
  font-size: $body-font-size;
  max-width: 266px;
  margin-bottom: 29px;
  width: 266px;
  &__title {
    @include field-title;
    margin-bottom: 0;
  }
  &__arrow {
    @include field-arrow;
    top: 0;
    bottom: auto;
    &_rotated {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }
  }
  &__wrapper-title {
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 5px;
  }
  &__items {
    display: none;
    transform: translateX(30px);
  }
  &__checkbox {
    margin-bottom: 13px;
  }
}

@keyframes rotateArrow {
  to {
    transform: rotate(180deg);
  }
}