include ../checkbox/checkbox

mixin expandable-checkbox-list({ checkboxItems, title })
  .expandable-checkbox-list.js-expandable-checkbox-list
    .expandable-checkbox-list__wrapper-title
      .expandable-checkbox-list__title= title
      .expandable-checkbox-list__arrow.expandable-checkbox-list__arrow.js-expandable-checkbox-list__arrow expand_more
    .expandable-checkbox-list__items.js-expandable-checkbox-list__items
      each checkbox in checkboxItems
        .expandable-checkbox-list__checkbox
          +checkbox({ labelText: checkbox.labelText, id: checkbox.id })
  