mixin masked-text-field(props)
  .field-wrapper.mb-40
    if (props.title)
      .field-wrapper__title= props.title
    input(type="text", placeholder=props.placeholderText class="masked-text-field js-masked-text-field field-wrapper__input")
