extends ../../templates/uikit
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/subscription-text-field/subscription-text-field
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/bullet-list/bullet-list
include ../../components/room-info/room-info
include ../../components/review/review

block variables
  -
    const title = 'Form Elements'
    const parentClass = 'form-elements'
    const checkboxItems = [
      { labelText: 'Можно курить', id: 'breakfast' },
      { labelText: 'Можно с питомцами', id: 'pet' },
      { labelText: 'Можно пригласить гостей (до 10 человек)', id: 'count' }
    ]
    const expandableCheckboxItems = [
      { labelText: 'Завтрак', id: 'smoke' },
      { labelText: 'Письменный стол', id: 'table' },
      { labelText: 'Стул для кормления', id: 'chair' },
      { labelText: 'Кроватка', id: 'cot' },
      { labelText: 'Телевизор', id: 'tv' },
      { labelText: 'Шампунь', id: 'shampoo' }
    ]
    const expandableCheckboxItems2 = [
      { labelText: 'Завтрак', id: 'smoke2' },
      { labelText: 'Письменный стол', id: 'table2' },
      { labelText: 'Стул для кормления', id: 'chair2' },
      { labelText: 'Кроватка', id: 'cot2' },
      { labelText: 'Телевизор', id: 'tv2' },
      { labelText: 'Шампунь', id: 'shampoo2' }
    ]
    const roomItems = [
      { iconName: 'insert_emoticon', title: 'Комфорт', sub: 'Шумопоглощающие стены' },
      { iconName: 'location_city', title: 'Удобство', sub: 'Окно в каждой из спален' }
    ]

block content
  main.form-elements__wrapper
    .form-elements__container
      .form-elements__text-inputs
        .form-elements__column
          .form-elements__text-field
            +text-field({ title: 'Text field', placeholderText: 'Email', inputType: 'email' })
          .form-elements__text-field
            +text-field({ title: 'Text field', textValue: 'This is pretty awesome' })
          .form-elements__dropdown
            +dropdown({ title: 'Dropdown', placeholderText: 'Сколько гостей', id: 'guests' })
          .form-elements__masked-text-field
            +masked-text-field({ title: 'Masked Text field', placeholderText: 'ДД.ММ.ГГГГ' })
          .form-elements__date-dropdowns-wrapper
            +date-dropdown({ title: 'Date Dropdown', isDateIn: true })
            +date-dropdown({ title: 'Date Dropdown' })
          .form-elements__filter-date-dropdown
            +filter-date-dropdown({ title: 'Filter Date Dropdown' })
          .form-elements__subscription-text-field
            +subscription-text-field({ title: 'Subscription Text Field', placeholderText: 'Email' })
      .form-elements__interactive-inputs
        .form-elements__column
          .form-elements__checkbox-buttons
            +checkbox-buttons({ title: 'Checkbox buttons', checkboxItems: checkboxItems } )
          .form-elements__radio-buttons
            +radio-buttons({ title: 'Radio buttons'} )
          .form-elements__toggles
            +toggle({ id: 'suggestions', title: 'Toggle', labelText: 'Получать спецпредложения' })
            +toggle({ id: 'suggestions2', labelText: 'Получать спецпредложения' })
          .form-elements__like-buttons
            +like-button({ title: 'Like button', likesCount: 2 })
          +rate-button({ title: 'Rate button' })
      .form-elements__button-inputs
        .form-elements__column
          +range-slider({ title: 'Range slider', minValue: 0, maxValue: 15000 })
          .form-elements__buttons
            .form-elements__buttons-title Buttons
            .form-elements__buttons-box
              .form-elements__fill-button
                +button({ text: 'Click me', style: 'fill' })
              .form-elements__border-button
                +button({ text: 'Click me', style: 'border' })
              .form-elements__string-button
                +button({ text: 'Click me', style: 'string' })
              .form-elements__submit-button
                +button({ text: 'Перейти к оплате', style: 'fill', type: 'submit' })
          .form-elements__pagination
            +pagination({ title: 'Pagination' })
      .form-elements__column
        .form-elements__rooms-dropdown
          +dropdown({ title: 'Dropdown', placeholderText: '2 спальни, 2 кровати...', id: 'rooms' })
        .form-elements__rooms-dropdown
          +dropdown({ title: 'Dropdown', placeholderText: '2 спальни, 2 кровати...', id: 'rooms' })
      .form-elements__guests-dropdown
        .form-elements__column
          +dropdown({ title: 'Dropdown', placeholderText: 'Сколько гостей', id: 'guests' })
      .form-elements__column
        .form-elements__expandable-checkbox-list
          +expandable-checkbox-list({ title: 'Expandable checkbox list', checkboxItems: expandableCheckboxItems })
        .form-elements__expandable-checkbox-list
          +expandable-checkbox-list({ title: 'Expandable checkbox list', checkboxItems: expandableCheckboxItems2 })
      .form-elements__rich-checkbox-buttons
        .form-elements__column
          +rich-checkbox-buttons({ title: 'Rich checkbox buttons' })
      .form-elements__column
        +bullet-list({ title: 'Bullet list', list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'] })
      .form-elements__room-info
        .form-elements__column
          +room-info({ items: roomItems })
      .form-elements__review
        +review({
          imgSrc: 'assets/img/avatar.jpg',
          username: 'Мурад Сарафaнов',
          date: '5 дней назад',
          message: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })
      