.gallery
  img.gallery__img.gallery__main-img(src='assets/img/details-lg.jpg', alt='')
  img.gallery__img.gallery__sec-img(src='assets/img/details-m.jpg', alt='')
  img.gallery__img.gallery__sec-img(src='assets/img/details-m-down.jpg', alt='')