mixin bullet-list(props)
  .field-wrapper.bullet-list
    .field-wrapper__title= props.title
    ul.bullet-list__ul
      +bullet-item({ text: 'Нельзя с питомцами' })
      +bullet-item({ text: 'Без вечеринок и мероприятий' })
      +bullet-item({ text: `Время прибытия — после 13:00, а выезд до 12:00` })

mixin bullet-item(props)
  li.bullet-item= props.text
