$darkshade: rgba(31, 32, 65);
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.50);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade10: rgba(31, 32, 65, 0.1);
$darkshade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;


$light-blue: #66D2EA;
$blue: rgb(75, 131, 235);
$white: #fff;
$title-color: rgb(204, 49, 49);
$gradient: linear-gradient($purple, #8BA4F9);

$h1-font-size: 24px;
$h2-font-size: 19px;
$h3-font-size: 12px;

$body-font-size: 14px;

$nav-height: 70px;

@mixin boxshadow {
  box-shadow: 0px 10px 20px $darkshade5;
}

@mixin boxshadow10 {
  box-shadow: 0px 10px 20px $darkshade10;
}

@mixin gradient25 {
  background: linear-gradient(180deg, rgb(188, 156, 255, 0.25), rgb(139, 164, 249, 0.25));
}

@mixin gradient {
  background: $gradient;
}

@mixin blue-green-gradient {
  background: linear-gradient($green, $light-blue);
}

@mixin montserrat {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin material-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: grid;
  place-items: center;
  line-height: 1;
}

@mixin flex-justify-sb-align-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-sb-align-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-justify-end-align-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-justify-c-align-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  place-items: center;
}

@mixin material-icons-text-only {
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: grid;
  place-items: center;
  line-height: 1;
}