$darkshade: rgba(31, 32, 65);
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.50);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade10: rgba(31, 32, 65, 0.1);
$darkshade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

$h1-font-size: 24px;
$h2-font-size: 19px;
$h3-font-size: 12px;

$body-font-size: 14px;

$light-blue: #66D2EA;
$blue: rgb(75, 131, 235);
$white: #fff;
$title-color: rgb(204, 49, 49);
$gradient: linear-gradient($purple, #8BA4F9);

@mixin gradient25 {
  background: linear-gradient(180deg, rgb(188, 156, 255, 0.25), rgb(139, 164, 249, 0.25));
}

@mixin field {
  width: 100%;
  height: 44px;
  padding-left: 14px;
  padding-bottom: 1px;
  line-height: 24px;
  border: 1px solid $darkshade25;
  border-radius: 4px;
  color: $darkshade75;
  font-size: $body-font-size;
  @include montserrat;
  &:hover,
  &:focus {
    border: 1px solid $darkshade50;
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: $darkshade25;
  }
}

@mixin field-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: $h3-font-size;
  font-weight: 700;
}

@mixin gradient {
  background: $gradient;
}

@mixin blue-green-gradient {
  background: linear-gradient($green, $light-blue);
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin material-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: grid;
  place-items: center;
  line-height: 1;
}

@mixin flex-justify-sb-align-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-sb-align-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin material-icons-text-only {
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: grid;
  place-items: center;
  line-height: 1;
}