.landing {
  background: url('../assets/img/landing.jpg') no-repeat center / cover;
  &-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 14px;
    row-gap: 277px;
    @media (max-width: 900px) {
      row-gap: 20vw;
    }
  }
  &__tagline {
    align-self: flex-end;
    font-size: $body-font-size;
    text-align: right;
    line-height: 24px;
    color: $darkshade75;

  }
}