@import '@/styles/consts.scss';
@import 'montserrat.scss';
@import '@/pug/components/button/button.scss';
@import '@/pug/components/logo/logo.scss';
@import '@/pug/components/color-item/color-item.scss';
@import '@/pug/components/color-box/color-box.scss';
@import '@/pug/components/types-box/types-box.scss';
@import '@/pug/components/type-item/type-item.scss';
@import '@/pug/components/text-field/text-field.scss';
@import '@/pug/components/dropdown/dropdown.scss';
@import '@/pug/components/date-dropdown/date-dropdown.scss';
@import '@/pug/components/subscription-text-field/subscription-text-field.scss';
@import '@/pug/components/filter-date-dropdown/filter-date-dropdown.scss';
@import '@/pug/components/checkbox-buttons/checkbox-buttons.scss';
@import '@/pug/components/radio-buttons/radio-buttons.scss';
@import '@/pug/components/toggle/toggle.scss';
@import '@/pug/components/masked-text-field/masked-text-field.scss';
@import '@/pug/components/like-button/like-button.scss';
@import '@/pug/components/rate-button/rate-button.scss';
@import '@/pug/components/range-slider/range-slider.scss';
@import '@/pug/components/buttons/buttons.scss';
@import '@/pug/components/button/button.scss';
@import '@/pug/components/pagination/pagination.scss';
@import '@/pug/components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '@/pug/components/rich-checkbox/rich-checkbox.scss';
@import '@/pug/components/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '@/pug/components/bullet-list/bullet-list.scss';
@import '@/pug/components/room-info/room-info.scss';
@import '@/pug/components/review/review.scss';
@import '@/pug/components/room-selection/room-selection.scss';
@import '@/pug/components/registration/registration.scss';
@import '@/pug/components/room-reservation/room-reservation.scss';
@import '@/pug/components/login/login.scss';
@import '@/pug/components/room-card/room-card.scss';
@import '@/pug/components/room-rating-chart/room-rating-chart.scss';
@import '@/pug/components/nav/nav.scss';
@import 'search-room.scss';
@import 'room-details.scss';
@import 'datepicker.css';
// @import 'slick-theme.css';
@import 'slick.css';

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  @include montserrat;
  color: $darkshade;
  margin: 0;
  background: rgb(244, 244, 246);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 700;
}

h2 {
  font-size: $h2-font-size;
  font-weight: 700;
}

button {
  @include montserrat;
  &:hover {
    cursor: pointer;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-container {
  width: 1200px;
  padding: 0 20px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.colors-and-type {
  background: #fff;
  .container {
    padding-left: 150px;
    padding-right: 158px;
  }
}

.main-links {
  @include flex-justify-c-align-c;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0;
  a {
    text-decoration: none;
    color: $darkshade75;
    &:active,
    &:focus,
    &:visited {
      color: $darkshade75;
    }
  }
}

.uikit {
  min-height: 100vh;
  .container {
    max-width: 1440px;    
    @media (max-width: 1440px) {
      padding: 0 10vw;
    }
    @media (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 350px) {
      padding: 0 3vw;
    }
  }
}

.field-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  max-width: 320px;
  @media (max-width: 340px) {
    max-width: 95vw;
  }
  &-rooms {
    width: 266px;
  }
  &__input {
    @include field;
    @media (max-width: 340px) {
      max-width: 95vw;
    }
    &_active {
      border-color: $darkshade50;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));
    }
  }
  &__title {
    @include field-title;
  }
  &__arrow {
    @include material-icons;
    bottom: none;
    top: 20px;
    color: $darkshade50;
    -webkit-user-select: none;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
    &:hover + .field-wrapper__input {
      border: 1px solid $darkshade50;
    }
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.date-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 340px) {
    max-width: 95vw;
  }
}

.colors-and-type {
  padding-top: 2px;
}

.form-elements {
  background: #fff;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 80px;
    max-width: 1440px;
    width: 95vw;
    padding: 0 141px;
    @media (max-width: 1439px) {
      padding: 0;
      margin: 0 auto;
      column-gap: auto;
    }
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 730px) {
      grid-template-columns: 1fr;
    }
  }
  .logo {
    margin-bottom: 66px;
  }
  .column {
    &-row {
      grid-column: 1 / 4;
      @media (max-width: 1100px) {
        grid-column: 1 / 3;
      }
      @media (max-width: 730px) {
        grid-column: 1 / 2;
      }
    }
    &-span-2 {
      grid-column: 2 / 4;
      @media (max-width: 1100px) {
        grid-column: 1 / 3;
      }
      @media (max-width: 730px) {
        grid-column: 1 / 2;
      }

    }
    &-expandable {
      margin-top: -14px;
    }
    &-mr-126 {
      margin-right: 126px;
      @media (max-width: 1439px) {
        margin-right: 0;
      }
    }
    &-mr-72 {
      margin-right: 72px;
      @media (max-width: 1439px) {
        margin-right: 0;
      }
    }
  }
  .date-container {
    margin-bottom: 40px;
  }
}

// CARDS

.card {
  &-title {
    margin-bottom: 21px;
  }
  &-wrapper {
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    max-width: 380px;
    padding: 29px;
    padding-top: 39px;
    margin-bottom: 40px;
    @media (max-width: 365px) {
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: 340px) {
      padding: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

}

.cards {
  background: rgb(244, 244, 246);
  .logo-container {
    padding: 23px 0 72px 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 40px;
    margin: 0 auto;
    padding: 0 140px;
    max-width: 1440px;
    @media (max-width: 1440px) {
      padding: 0 5vw;
    }
    @media (max-width: 340px) {
      padding: 0;
    }
  }
}

// HEADERS & FOOTERS

.headers-footers {
  background: rgb(244, 244, 246);
  .container {
    padding: 0;
  }
  .header {
    margin-bottom: 40px;
  }
}

// LANDING

.landing {
  background: url('../assets/img/landing.jpg') no-repeat center / cover;
  &-container {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 20px;
    row-gap: 320px;
  }
  &__tagline {
    align-self: flex-end;
    font-size: $body-font-size;
    line-height: 24px;
    color: $darkshade75;

  }
}

.login-page, .registration-page {
  background: url('../assets/img/login-bg.jpg') no-repeat center / cover;
  justify-content: center;
  .container {
    max-width: 380px;
  }
}

.registration-page {
  padding: 20px 0;
}

.login-page {
  padding: 172px 0;
}

@import '@/pug/components/header/header.scss';
@import '@/pug/components/footer/footer.scss';