.search-room {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-bottom: 1px;
  &__container {
    column-gap: 60px;
    @media (max-width: 630px) {
      flex-wrap: wrap;
    }
  }
}

.filter {
  width: 266px;
  @media (max-width: 630px) {
    align-items: center;
    margin: 0 auto;
  }
  .filter-date-dropdown.field-wrapper {
    margin-bottom: 20px;
  }
  .field-wrapper-guests {
    margin-bottom: 31px;
  }
  .range-slider {
    margin-bottom: 30px;
  }
  .rich-checkbox-buttons {
    margin-bottom: 29px;
  }
  .checkbox-buttons {
    max-width: 240px;
    margin-bottom: 19px;
  }
  .field-wrapper-rooms {
    margin-bottom: 15px;
  }
}

.rooms {
  flex: 1;
  min-width: 280px;
  .room-card {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 22px;
    @media (max-width: 630px) {
      text-align: center;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 12px;
    margin-bottom: 41px;
    @media (max-width: 630px) {
      justify-content: center;
    }
  }
  .pagination {
    margin: 0 auto;
    transform: translate(-8px);
  }
}