extends ../../templates/main
include ../../components/registration/registration

block variables
  - const title = 'Registration'

block content
  main.registration-page
    .registration-page__container
      +registration()