.rich-checkbox {
  @include checkbox;
  width: 236px;
  transform: translateX(30px);
  margin-bottom: 10px;
  &__input {
    @include checkbox-input;
  }
  &__label {
    @include checkbox-label;
    color: $darkshade75;
    font-weight: 700;
    font-size: 14px;
    &::before {
      top: -1px;
    }
    &::after {
      top: 5px;
    }
  }
  &__description {
    font-size: $h3-font-size;
    color: $darkshade50;
    margin-top: 6px;
    line-height: 14px;
  }
}