mixin logo({ isUI })
  - const className = isUI ? " logo_is-ui-page" : ""

  if isUI
    .logo(class = className)
      .logo__circle
        .logo__curve
          img(src="components/logo/img/logo1.svg", alt="")
        .logo__curve
          img(src="components/logo/img/logo2.svg", alt="")
  else
    a.logo(class=className href="/blank.html")
      .logo__circle-wrapper
        .logo__circle
          .logo__curve
            img(src="components/logo/img/curve-logo1.svg", alt="")
          .logo__curve
            img(src="components/logo/img/curve-logo2.svg", alt="")
      .logo__text
        img(src="components/logo/img/logo-text.svg", alt="")