@import '@/assets/styles/consts.scss';

.logo {
  display: flex;
  align-items: center;
  &_is-ui-page {
    border: 3px solid $darkshade25;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: none;
  }
  &_is-ui-page &__curve {
    margin-top: 3px;
  }
  &_is-ui-page &__circle {
    background: transparent;
  }
  &__circle-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: padding-box;
    margin-right: 12px;
    @include gradient;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
  }
  &__curve {
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
    min-height: 15px;
    &:last-child {
      transform: translateX(-1px);
    }
  }
  &__text {
    transform: translateY(1px);
  }
}