mixin logo(props)
  -
    var className = props.isUI ? " logo__ui" : ""
  if props.isUI
    .logo(class = className)
      .logo__circle
        .logo__curve
          include ./img/logo1.svg
        .logo__curve
          include ./img/logo2.svg
  else
    a.logo(class=className href="/blank.html")
      .logo__circle-wrapper
        .logo__circle
          .logo__curve
            include ./img/curve-logo1.svg
          .logo__curve
            include ./img/curve-logo2.svg
      .logo__text
        include ./img/logo-text.svg