.radio-buttons {
  .field-wrapper__title {
    margin-bottom: 17px;
  }
  &__items {
    padding-left: 30px;
  }
  &__item {
    margin-bottom: 10px;
  }
  label {
    position: relative;
    color: $darkshade50;
    font-size: $body-font-size;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: -29px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $darkshade25;
    }    
  }
  input {
    opacity: 0;
    display: none;
    z-index: -1;      
    &:checked + label::before {
      border: 3px solid #ffffff;
      box-shadow: 0 0 0 1px $purple;
      @include gradient;
    }
  }
}