.subscription-text-field {
  @include field-wrapper;
  width: 266px;
  &__title {
    @include field-title;
  }
  &__arrow {
    @include field-arrow;
    @include gradient;
    top: auto;
    bottom: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__input {
    @include field-input;
  }
}