mixin subscription-text-field({ title, placeholderText })
  .subscription-text-field
    if title
      .subscription-text-field__title= title
    .subscription-text-field__arrow arrow_forward
    input.subscription-text-field__input(type="email" placeholder=placeholderText)