include ../type-item/type-item

.types-box
  +type-item({ classPrefix: 'h1', title: 'H1', desc: 'This one is the sub-section or widget title' })
  +type-item({ classPrefix: 'h2', title: 'H2', desc: 'Next one is the item title inside widgets' })
  +type-item({ classPrefix: 'h3', title: 'H3', desc: 'This is a label or CTA text' })
  +type-item({ classPrefix: 'body', title: 'Body', desc: `This is the body text which is used for most of the design, like paragraphs, lists, etc.` })
