.filter {
  max-width: 266px;
  width: 100%;
  @media (max-width: 630px) {
    align-items: center;
    margin: 0 auto;
  }
  &__filter-date-dropdown {
    margin-bottom: 20px;
  }
  &__dropdown-guests {
    margin-bottom: 31px;
  }
  &__range-slider {
    margin-bottom: 30px;
  }
  &__checkbox-buttons {
    max-width: 240px;
    margin-bottom: 19px;
  }
  &__dropdown-rooms {
    margin-bottom: 15px;
  }
  &__rich-checkbox-buttons {
    margin-bottom: 29px;
  }
}