.toggle {
  margin-bottom: 40px;
  .field-wrapper__title {
    margin-bottom: 17px;
  }
  &__item {
    padding-left: 50px;
  }
  label {
    position: relative;
    color: $darkshade50;
    font-size: $body-font-size;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid $darkshade25;
    }   
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: -46px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $darkshade25;
      transition: .1s;
    } 
  }
  input {
    opacity: 0;
    display: none;
    z-index: -1;      
    &:checked + label::before {
      border: 1px solid $purple;
    }
    &:checked + label::after {
      @include gradient; 
      left: -26px;
    }
  }
}