extends ../layouts/uikit
include ../components/room-card/room-card

block variables
  - var title = 'Cards'
  - var parentClass = 'cards'

block content
  .cards
    .container
      .column
        include ../components/room-selection/room-selection
        include ../components/registration/registration
      .column
        include ../components/room-reservation/room-reservation
        include ../components/login/login
      .column
        +room-card({ src: '/assets/img/lux1.png', number: 888, price: '9 990', reviews: 145, lux: true, rating: 5 })
        +room-card({ src: '/assets/img/lux2.png', number: 840, price: '9 990', reviews: 65, rating: 4})