extends ../layouts/uikit

block variables
  - var title = 'Colors & Type'

block content
  .colors-and-type
    .container
      include ../components/color-box/color-box
      include ../components/types-box/types-box