extends ../layouts/uikit

block variables
  - var title = 'Colors & Type'
  - var parentClass = 'colors-and-type'

block content
  main.colors-and-type-main
    .container.uikit-container.colors-and-type-container
      include ../components/color-box/color-box
      include ../components/types-box/types-box