extends ../layouts/main
include ../components/button/button

block variables
  - var title = 'Toxin index'

block content
  main
    .container.main-links
      a(href = '/colors-and-type.html') colors&type
      a(href = '/form-elements.html') form elements
      a(href = '/cards.html') cards
      a(href = '/headers-footers.html') headers & footers
      a(href = '/landing.html') landing page
      a(href = '/search-room.html') search room
      a(href = '/room-details.html') room details
      a(href = '/login-page.html') log in
      a(href = '/registration-page.html') registration
    
