extends ../uikit
include ../components/room-card/room-card
include ../components/login/login
include ../components/room-selection/room-selection
include ../components/registration/registration
include ../components/room-reservation/room-reservation

block variables
  -
    const title = 'Cards'
    const parentClass = 'cards'

block content
  main.cards__main
    .cards__container
      .cards__column
        +room-selection()
        +registration()
      .cards__column
        +room-reservation()
        +login()
      .cards__column
        .cards__room-card
          +room-card({ src: 'assets/img/lux1.png', number: 888, price: '9 990', reviews: 145, lux: true, rating: 5 })
        .cards__room-card
          +room-card({ src: 'assets/img/lux2.png', number: 840, price: '9 990', reviews: 65, rating: 4})