extends ../uikit
include ../components/room-card/room-card

block variables
  -
    const title = 'Cards'
    const parentClass = 'cards'

block content
  main.cards__main
    .cards__container
      .cards__column
        include ../components/room-selection/room-selection
        include ../components/registration/registration
      .cards__column
        include ../components/room-reservation/room-reservation
        include ../components/login/login
      .cards__column
        .cards__room-card
          +room-card({ src: 'components/rooms/img/lux1.png', number: 888, price: '9 990', reviews: 145, lux: true, rating: 5 })
        .cards__room-card
          +room-card({ src: 'components/rooms/img/lux2.png', number: 840, price: '9 990', reviews: 65, rating: 4})