extends ../uikit

block variables
  -
    const title = 'Colors & Type'
    const parentClass = 'colors-and-type'

block content
  main.colors-and-type__main
    .colors-and-type__container
      include ../components/color-box/color-box
      include ../components/types-box/types-box