extends ../uikit
include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/masked-text-field/masked-text-field
include ../components/date-dropdown/date-dropdown
include ../components/filter-date-dropdown/filter-date-dropdown
include ../components/subscription-text-field/subscription-text-field
include ../components/checkbox-buttons/checkbox-buttons
include ../components/radio-buttons/radio-buttons
include ../components/toggle/toggle
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/range-slider/range-slider
include ../components/button/button
include ../components/pagination/pagination
include ../components/expandable-checkbox-list/expandable-checkbox-list
include ../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../components/bullet-list/bullet-list
include ../components/room-info/room-info
include ../components/review/review

block variables
  - var title = 'Form Elements'
  - var parentClass = 'form-elements'
  - var checkboxArr = [{name: 'Можно курить', id: 'breakfast'}, {name: 'Можно с питомцами', id: 'pet'}, {name: 'Можно пригласить гостей (до 10 человек)', id: 'count'}]
  - var expandableCheckbox = [{name: 'Завтрак', id: 'smoke'}, {name: 'Письменный стол', id: 'table'}, {name: 'Стул для кормления', id: 'chair'}, {name: 'Кроватка', id: 'cot'}, {name: 'Телевизор', id: 'tv'}, {name: 'Шампунь', id: 'shampoo'}]
  - var roomItems = [{content: 'insert_emoticon', title: 'Комфорт', sub: 'Шумопоглощающие стены'}, {content: 'location_city', title: 'Удобство', sub: 'Окно в каждой из спален'}]

block content
  section.form-elements__wrapper
    .uikit-container.form-elements__container
      .form-elements__column.form-elements__column-mr-126
        .form-elements__text-field
          +text-field({ title: 'Text field', placeholderText: 'Email' })
        +dropdown({ title: 'Dropdown', placeholderText: 'Сколько гостей', id: 'guests' })
        +masked-text-field({ title: 'Masked Text field', placeholderText: 'ДД.ММ.ГГГГ' })
        .form-elements__date-dropdowns-wrapper
          +date-dropdown({ title: 'Date Dropdown', main: true })
          +date-dropdown({ title: 'Date Dropdown' })
        +filter-date-dropdown({ id: 'datepick', title: 'Filter Date Dropdown', dateIn: '19 авг', dateOut: '23 авг' })
        +subscription-text-field({ title: 'Subscription Text Field', placeholderText: 'Email' })
      .form-elements__column.form-elements__column-mr-72
        +checkbox-buttons( {title: 'Checkbox buttons', radios: checkboxArr } )
        .form-elements__radio-buttons
          +radio-buttons( {title: 'Radio buttons'} )
        +toggle({ id: 'suggestions', title: 'Toggle', text: 'Получать спецпредложения' })
        +like-button({ title: 'Like button' })
        +rate-button({ title: 'Rate button' })
      .form-elements__column
        +range-slider({title: 'Range slider'})
        .form-elements__buttons
          .form-elements__buttons-title Buttons
          .form-elements__buttons-box
            +button({ text: 'Click me', class: 'button-fill' })
            +button({ text: 'Click me', class: 'button-border' })
            +button({ text: 'Click me', class: 'button-string' })
            +button({ text: 'Перейти к оплате', class: 'button-fill button-main' })
        +pagination({title: 'Pagination'})
      .form-elements__column.form-elements__column-mr-126
        +dropdown({ title: 'Dropdown', placeholderText: '2 спальни, 2 кровати', id: 'rooms' })
      .form-elements__column.form-elements__column-span-2
        +dropdown({ title: 'Dropdown', placeholderText: 'Сколько гостей', id: 'guests' })
      .form-elements__column.form-elements__column-expandable.column-mr-126
        +expandable-checkbox-list({ title: 'Expandable checkbox list', radios: expandableCheckbox })
      .form-elements__column.form-elements__column-mr-72
        +rich-checkbox-buttons({ title: 'Rich checkbox buttons' })
      .form-elements__column
        +bullet-list({title: 'Bullet list'})
      .form-elements__column.form-elements__column-mr-126
        +room-info({items: roomItems})
      .form-elements__column-span-2
        .form-elements__review
          +review({src: 'assets/img/avatar.jpg', name: 'Мурад Сарафaнов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
      