extends ../uikit
include ../components/header/header

block variables
  -
    const title = 'Headers & Footers'
    const parentClass = 'headers-footers'

block content
  main.headers-footers__main
    .headers-footers__header
      +header({ isAuth: false })
    .headers-footers__header
      +header({ isAuth: true })
    include ../components/footer/footer