extends ../main
include ../components/button/button

block variables
  - const title = 'Toxin home'

block content
  main.home-page
    ul.home-page__links
      li.home-page__li
        a.home-page__link(href = './colors-and-type.html') colors&type
      li.home-page__li
        a.home-page__link(href = './form-elements.html') form elements
      li.home-page__li
        a.home-page__link(href = './cards.html') cards
      li.home-page__li
        a.home-page__link(href = './headers-footers.html') headers & footers
      li.home-page__li
        a.home-page__link(href = './landing.html') landing page
      li.home-page__li
        a.home-page__link(href = './search-room.html') search room
      li.home-page__li
        a.home-page__link(href = './room-details.html') room details
      li.home-page__li
        a.home-page__link(href = './login-page.html') log in
      li.home-page__li
        a.home-page__link(href = './registration-page.html') registration
    
