extends ../main

block variables
  -
    const title = 'Landing Page'

block content
  main.landing
    .landing__container
      .landing__form
        include ../components/room-selection/room-selection
      .landing__tagline 
        .landing__tag-text Лучшие номера для вашей работы,
        .landing__tag-text отдыха и просто вдохновения