extends ../main

block variables
  - var title = 'Room details'

block content
  main.room-details
    include ../components/gallery/gallery
    .container.room-details__container
      include ../components/room-info-block/room-info-block
      .room-details__reservation
        include ../components/room-reservation/room-reservation



    
