extends ../main
include ../components/filter/filter
include ../components/rooms/rooms

block variables
  -
    const title = 'Search Room'

block content
  main.search-room
    .search-room__container
      +filter()
      +rooms()