mixin masked-text-field({ title, placeholderText })
  .masked-text-field
    if (title)
      .masked-text-field__title= title
    input.masked-text-field__input.js-masked-text-field__input(type="text" placeholder=placeholderText)
