mixin masked-text-field(props)
  .masked-text-field
    if (props.title)
      .masked-text-field__title= props.title
    input.masked-text-field__input.js-masked-text-field__input(type="text" placeholder=props.placeholderText)
