mixin masked-text-field(props)
  .mb-40.masked-text-field
    if (props.title)
      .masked-text-field__title= props.title
    input(type="text", placeholder=props.placeholderText class="masked-text-field__input js-masked-text-field__input")
