.header {
  background: #fff;
  @include boxshadow;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  &__container {
    @include container;
    max-width: 1200px;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    @include flex-justify-sb-align-c;
    width: 1200px;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  &__menu {
    @include flex-justify-sb-align-c;  
    z-index: 10;
    @media (max-width: 950px) {
      position: absolute;
      top:100%;
      right: 0;
      flex-direction: column;
      transform: translateX(100%);
      display: none;
      padding: 0 40px;
      background: #fff;
      justify-content: flex-start;
      height: calc(100vh - #{$nav-height});
      @include boxshadow;
    }
    &-btn {
      position: relative;
      display: none;      
      width: 20px;
      height: 16px;
      &:hover {
        cursor: pointer;
      }
      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background: $darkshade;
        border-radius: 1px;
        transform-origin: 0 1px;
        transition: .2s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      @media (max-width: 950px) {
        display: block;        
      }
      &-line {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 2px;
        background: $darkshade;
        border-radius: 1px;
        transform: translateY(-50%);
        transition: .2s;
      }
      &_active &-line {
        opacity: 0;
      }
      &_active {
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &_visible {
      display: flex;
      transform: translateX(0);
    }  
  }
  &__profile {
    &-wrapper {
      border-left: 1px solid $darkshade10;
      padding-left: 20px;
      margin-left: 11px;
      height: 30px;
      @include flex-center;
    }
    &-link {
      text-decoration: none;
      color: $darkshade50;
      font-size: $body-font-size;
      &:focus,
      &:active {
        color: $darkshade50;
      }
    }
  }
  &__auth-box {
    display: flex;
    @media (max-width: 950px) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
  &__login-button {
    height: 34px;
    &:first-child {
      width: 87px;
      margin-right: 20px;
      margin-left: 11px;
      @media (max-width: 950px) { 
        margin: 0;
      }
    }
  }
}