include ../logo/logo
include ../button/button

mixin header({ isAuth })
  header.header
    .header__container
      +logo({})
      .header__menu-button.js-header__menu-button
        .header__menu-button-line
      .header__menu.js-header__menu
        include ../nav/nav
        if isAuth
          .header__profile-wrapper 
            a.header__profile-link(href="/blank.html") Юлий Цезарь
        else
          .header__auth-box
            .header__login-button
              +button({ text: 'Войти', style: 'border', isHeader: 'is-header-login-button' })
            +button({ text: 'Зарегистрироваться', style: 'fill', isHeader: 'is-header-reg-button' })
