extends ../../templates/uikit
include ../../components/header/header
include ../../components/footer/footer

block variables
  -
    const title = 'Headers & Footers'
    const parentClass = 'headers-footers'

block content
  main.headers-footers__main
    .headers-footers__header
      +header({ isAuth: false })
    .headers-footers__header
      +header({ isAuth: true })
    +footer()