.gallery
  img.gallery__img.gallery__img_size_large(src="components/gallery/img/details-lg.jpg" alt="")
  img.gallery__img.gallery__img_size_medium(src="components/gallery/img/details-m.jpg" alt="")
  img.gallery__img.gallery__img_size_medium(src="components/gallery/img/details-m-down.jpg" alt="")