.gallery
  img.gallery__img.gallery__main-img(src="./img/details-lg.jpg" alt="")
  img.gallery__img.gallery__sec-img(src="./img/details-m.jpg" alt="")
  img.gallery__img.gallery__sec-img(src="./img/details-m-down.jpg" alt="")