.gallery {
  display: grid;
  grid-template-columns: 68fr 32fr;
  grid-template-rows: 1fr 1fr;
  max-height: 485px;
  height: 485px;
  overflow: hidden;
  @media (max-width: 780px) {
    height: 30vh;
    margin-bottom: 40px;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &_size {
      &_large {
        grid-area: 1 / 1 / 3 / 2;
        max-height: 485px;
      }
      &_medium {
        &:nth-child(2) {
          max-height: 243px;
        }
        &:nth-child(3) {
          max-height: 242px;
        }
      }
    }
  }
}
