figure.gallery
  img.gallery__image.gallery__image_size_large(src="assets/img/details-lg.jpg" alt="")
  img.gallery__image.gallery__image_size_medium(src="assets/img/details-m.jpg" alt="")
  img.gallery__image.gallery__image_size_medium(src="assets/img/details-m-down.jpg" alt="")