.gallery
  img.gallery__img.gallery__main-img(src="components/gallery/img/details-lg.jpg" alt="")
  img.gallery__img.gallery__sec-img(src="components/gallery/img/details-m.jpg" alt="")
  img.gallery__img.gallery__sec-img(src="components/gallery/img/details-m-down.jpg" alt="")