@import '@/styles/consts.scss';

.type-item {
  display: grid;
  grid-template-columns: 37px 1fr;
  column-gap: 30px;
  margin-bottom: 52px;
  &:not(.type-item_body) {
    .type-item__desc {
      font-weight: 700;
    }
  }
  &_h1 {
    font-size: $h1-font-size;
    line-height: 29px;
  }
  &_h2 {
    font-size: $h2-font-size;
    line-height: 24px;
    margin-bottom: 51px;
  }
  &_h3 {
    font-size: $h3-font-size;
    line-height: 14px;
    margin-bottom: 47px;
    .type-item__desc {
      text-transform: uppercase;
    }
  }
  &_body {
    font-size: $body-font-size;
    line-height: 24px;
    .type-item__desc {
      max-width: 301px;
      color: $darkshade75;
    }
  }
  &__title {
    justify-self: end;
    color: $darkshade25;
  }
}