mixin filter-date-dropdown(props)
  .filter-date-dropdown.mb-40
    if props.title
      .filter-date-dropdown__title= props.title
    .filter-date-dropdown__arrow.js-filter-date-dropdown__arrow  expand_more
    input(type="text" readonly placeholder=props.placeholderText class="filter-date-dropdown__input datepicker-here js-filter-date-dropdown__input" data-range="true" value=`${props.dateIn} - ${props.dateOut}`)

  