.filter-date-dropdown {
  @include field-wrapper;
  width: 266px;
  &__title {
    @include field-title;
  }
  &__arrow {
    @include field-arrow;
  }
  &__input {
    @include field-input;
    &:hover {
      cursor: pointer;
    }
  }
}