mixin filter-date-dropdown({ title })
  .filter-date-dropdown
    if title
      .filter-date-dropdown__title= title
    .filter-date-dropdown__arrow.js-filter-date-dropdown__arrow expand_more
    input.filter-date-dropdown__input(
      type="text"
      readonly
      class="datepicker-here js-filter-date-dropdown__input"
      data-range="true"
    )

  