
.rooms {
  flex: 1;
  min-width: 280px;
  &__title {
    margin-bottom: 22px;
    @media (max-width: 630px) {
      text-align: center;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 12px;
    margin-bottom: 41px;
    @media (max-width: 630px) {
      justify-content: center;
    }
  }
  .room-card {
    margin-bottom: 0;
  }
  .pagination {
    margin: 0 auto;
    transform: translate(-8px);
  }
}