include ../room-card/room-card
include ../pagination/pagination

mixin rooms()
  section.rooms
    - const roomsArr = require('../../components/rooms/assets/rooms.json')

    h1.rooms__title Номера, которые мы для вас подобрали
    .rooms__list
      each room in roomsArr
        +room-card(room)
    .rooms__pagination
      +pagination({})