include ../room-card/room-card
include ../pagination/pagination

section.rooms
  h1.rooms__title Номера, которые мы для вас подобрали
  .rooms__list
    +room-card({ src: 'assets/img/lux1.png', number: 888, price: '9 990', reviews: 145, lux: true, rating: 5 })
    +room-card({ src: 'assets/img/lux2.png', number: 840, price: '9 900', reviews: 65, rating: 4})
    +room-card({ src: 'assets/img/980.jpg', number: 980, price: '8 500', reviews: 35, lux: true, rating: 3})
    +room-card({ src: 'assets/img/856.jpg', number: 856, price: '7 300', reviews: 19, rating: 5})
    +room-card({ src: 'assets/img/740.jpg', number: 740, price: '6 000', reviews: 44, rating: 4})
    +room-card({ src: 'assets/img/982.jpg', number: 982, price: '5 800', reviews: 56, rating: 3})
    +room-card({ src: 'assets/img/678.jpg', number: 678, price: '5 500', reviews: 45, rating: 5})
    +room-card({ src: 'assets/img/450.jpg', number: 450, price: '5 300', reviews: 39, rating: 4})
    +room-card({ src: 'assets/img/350.jpg', number: 350, price: '5 000', reviews: 77, rating: 3})
    +room-card({ src: 'assets/img/666.jpg', number: 666, price: '5 000', reviews: 25, rating: 5})
    +room-card({ src: 'assets/img/444.jpg', number: 444, price: '5 000', reviews: 15, rating: 3})
    +room-card({ src: 'assets/img/352.jpg', number: 352, price: '5 000', reviews: 55, rating: 3})
  .rooms__pagination
    +pagination({})