mixin bullet-list(props)
  .bullet-list(class=props.className)
    if props.title
      .bullet-list__title= props.title
    ul.bullet-list__ul
      li.bullet-list__item Нельзя с питомцами
      li.bullet-list__item Без вечеринок и мероприятий
      li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00