.bullet-list {
  @include field-wrapper;
  &__title {
    @include field-title;
  }
  &__ul {
    padding-left: 21px;
    margin-top: 13px;
    font-size: $body-font-size;
  }
  &__item {
    position: relative;
    max-width: 240px;
    margin-bottom: 10px;
    color: $darkshade75;
    line-height: 24px;
    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: -21px;
      width: 10px;
      height: 10px;
      background: $darkshade25;
      border-radius: 50%;
    }
  }
}