mixin bullet-list(props)
  .field-wrapper.bullet-list(class=props.className)
    if props.title
      .field-wrapper__title= props.title
    ul.bullet-list__ul
      li.bullet-item Нельзя с питомцами
      li.bullet-item Без вечеринок и мероприятий
      li.bullet-item Время прибытия — после 13:00, а выезд до 12:00