.colors-and-type {
  background: #fff;
  flex: 1 0 auto;
  &__main {
    margin-top: 67px;
  }
  &__container {
    @include container;
    @include ui-container;
    display: flex;
    justify-content: space-between;
    @media (min-width: 1439px) and (max-width: 1441px) {
      justify-content: flex-start;
      column-gap: 415px;
      margin: 0;
      margin-left: 150px;
      padding: 0;
    }
  }
}