.expandable-checkbox-list {
  font-size: $body-font-size;
  max-width: 266px;
  .field-wrapper {
    width: 266px;
    margin-bottom: 29px;
    &__title {
      margin-bottom: 0;
    }
    &__arrow {
      top: 0;
      bottom: auto;
    }
  }
  &__wrapper-title {
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 5px;
  }
  &__arrow_rotate {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
  .checkbox-buttons__items {
    display: none;
  }
  .checkbox {
    margin-bottom: 13px;
    &__label {
      &::before {
        top: -2px;
      }
    }
  }
}

@keyframes rotateArrow {
  to {
    transform: rotate(180deg);
  }
}