.footer {
  font-size: $body-font-size;
  width: 100%;
  &__container {
    @include container;
    padding-right: 13px;
    padding-left: 27px;
    max-width: 1200px;
    width: 100%;
    @media (min-width: 1439px) and (max-width: 1441px) {
      margin: 0;
      padding: 0 20px;
      margin-left: 120px;
    }
  }
  &__main-row {
    background: #fff;
    margin-bottom: 1px;
    box-shadow: 0px 1px 0px $darkshade10;
    @media (max-width: 950px) {
      display: none;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 7fr 5fr 3fr 6fr 7fr;
    padding: 100px 0 90px 0;
  }
  &__column {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    @media (min-width: 1140px) {
      &:nth-child(2) {
        padding-left: 10px;
      }
      &:nth-child(3) {
        padding-left: 3px;
      }
      &:nth-child(4) {
        padding-left: 79px;
      }
      &:nth-child(5) {
        margin-left: 30px;
      }
    }
  }
  &__logo {
    margin-bottom: 10px;
  }
  &__text {
    line-height: 24px;
    color: $darkshade75;
    margin-top: 7px;
    margin-bottom: 23px;
  }
  &__section {
    margin-top: 4px;
    margin-bottom: 11px;
    font-size: $h3-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $darkshade;
  }
  &__item:not(:first-child) {
    margin: 10px 0;
  }
  &__link {
    color: $darkshade50;
    text-decoration: none;
  }
  &__subscription-text-field {
    width: 100%;
  }
  &__sec-row {
    background: #fff;
    @include boxshadow;
  }
  &__copyright {
    font-size: $body-font-size;
    color: $darkshade75;
    @media (max-width: 9500px) {
      margin-bottom: 1px;
    }
    &-wrapper {
      @include flex-justify-sb-align-c;
      height: $nav-height;
      @media (max-width: 950px) {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 120px 0;
        row-gap: 20px;
      }
    }
    &-logo {
      display: flex;
      margin-bottom: 0;
      @media (min-width: 950px) {
        display: none;
      }
    }
  }  
  &__socials {
    @include flex-justify-sb-align-c;
    column-gap: 23px;
    margin-right: 2px;
    margin-top: 3px;
  }
  &__social {
    width: 21px;
    &_twitter {
      width: 24px;
      transform: translateX(2px);
    }
  }
}