include ../color-item/color-item

.colors-box
  +color-item({ title: "Dark Shade 100%", hex: "#1F2041", iconClassName: 'darkshade-100' })
  +color-item({ title: "Dark Shade 75%", hex: "#1F2041", iconClassName: 'darkshade-75' })
  +color-item({ title: "Dark Shade 50%", hex: "#1F2041", iconClassName: 'darkshade-50' })
  +color-item({ title: "Dark Shade 25%", hex: "#1F2041", iconClassName: 'darkshade-25' })
  +color-item({ title: "Dark Shade 5%", hex: "#1F2041", iconClassName: 'darkshade-5' })
  +color-item({ title: "Purple", hex: "#BC9CFF", iconClassName: 'purple' })
  +color-item({ title: "Green", hex: "#6FCF97", iconClassName: 'green' })