include ../components/logo/logo

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="ui-kit for the Toxin")
    meta(name="keywords" content="ui-kit toxin")
    title #{title}
  body
    div(class= `${parentClass} uikit`)
      .logo-container
        +logo({isUI: true})
      block content
        
        