mixin color-item(props)
  -
    var colorClassName = "color-item__icon color-item__icon_" + props.iconClassName
  .color-item
    div(class=colorClassName)
    .color-item__text-box
      .color-item__title= props.title
      .color-item__hex= props.hex