.room-rating-chart
  .room-rating-chart__chart
    canvas(id="rating-chart" width="120" height="120")
  .room-rating-chart__legend
    .room-rating-chart__label Великолепно
    .room-rating-chart__label Хорошо
    .room-rating-chart__label Удовлетворительно
    .room-rating-chart__label Разочарован
  .room-rating-chart__count-box
    .room-rating-chart__count 260
    .room-rating-chart__count-text голосов
  