mixin room-info(props)
  - var items = props.items

  .room-info
    if props.title
      .room-info__title= props.title
    each item in items
      .room-info__item
        i.room-info__icon.material-icons= item.content
        .room-info__name= item.title
        .room-info__sub= item.sub