.login {
  @include card-wrapper;
  background: #fff;
  padding-bottom: 31px;
  width: 100%;
  &__title {
    margin-bottom: 21px;
  }
  &__email {
    margin-bottom: 10px;
  }
  &__password {
    margin-bottom: 20px;
  }
  &__submit-button {
    margin-bottom: 30px;
  }
  &__registration-wrapper {
    @include flex-justify-sb-align-c;
  }
  &__no-account {
    font-size: $body-font-size;
  }
}