.toggle {
  @include field-wrapper;
  &__title {
    @include field-title;
    margin-bottom: 16px;
    letter-spacing: -0.04em;
  }
  &__item {
    padding-left: 50px;
  }
  &__button {
    display: none;
    z-index: -1;    
    opacity: 0;
  }
  &__button:checked + &__label::before {
    border: 1px solid $purple;
  }
  &__button:checked + &__label::after {
    @include gradient; 
    left: -26px;
  }
  &__label {
    position: relative;
    color: $darkshade75;
    font-size: $body-font-size;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid $darkshade25;
    }   
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: -46px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $darkshade25;
      transition: .1s;
    } 
  }
}