.room-card {
  max-width: 270px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  @include boxshadow;
  &__slider {
    height: 151px;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
  }
  &__image-box {
    height: 152px;
  }
  &__image {
    object-fit: cover;
    &:focus {
      outline: none;
    }
  }
  &__prev-slide,
  &__next-slide {
    display: grid;
    place-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 42px;
    padding: 0;
    border: 0;
    color: #fff;
    font-weight: $h1-font-size;
    transition: opacity .2s;
    user-select: none;
    &:hover {
      opacity: 1;
      cursor: pointer;
    };
    &:focus,
    &:active,
    &:hover {
      outline: none;
      border: none;
    }
  }
  &__prev-slide {
    left: 0;
    border-top-left-radius: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  &__prev-slide &__icon {    
    transform: translateX(1px) rotate(90deg);
  }
  &__next-slide {
    right: 0;
    border-top-right-radius: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  &__next-slide &__icon {
    transform: translateX(-1px) rotate(-90deg);
  }
  &__icon {
    display: grid;
    place-items: center;
    width: 42px;
    height: 42px;
  }
  &__images-nav {
    position: absolute;
    bottom: 15px;
    right: 13px;
    display: flex;
    z-index: 10;
    width: 41px;
  }
  &__nav-dot {
    position: absolute;
    bottom: 1px;
    &:nth-child(4) {
      right: 0;
    }
    &:nth-child(3) {
      right: 11px;
    }
    &:nth-child(2) {
      right: 23px;
    }
    &:nth-child(1) {
      right: 34px;
    }
    &.slick-active button::before {
      background: #fff;
    }
  }
  &__nav-button {
    position: relative;
    font-size: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-sizing: padding-box;
    border: none;
    background: none;
    &:focus,
    &:active {
      outline: none;
    }
    &::before {
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 7px;
      height: 7px;
      border: 1px solid #fff;
      border-radius: 50%;
      box-sizing: padding-box;
    }
  }
  &__info-box {
    padding: 23px 20px 19px 20px;
  }
  &__header {
    @include flex-justify-sb-align-end;
    margin-bottom: 0;
    border-bottom: 1px solid $darkshade10;
    padding-bottom: 12px;    
  }
  &__title {
    margin-bottom: 0;
    display: flex;
    line-height: 17px;
  }
  &__number {
    font-size: $h2-font-size;
    margin-right: 2px;
    &::before {
      content: '№';
      margin-right: 4px;
      font-size: $body-font-size;
      font-weight: 700;
    }
  }
  &__lux {
    color: $purple;
    font-size: $h3-font-size;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateY(4px);
  }
  &__price-box {
    display: flex;
    align-items: flex-end;
    transform: translateX(3px);
    line-height: 18px;
  }
  &__day-price {
    margin-right: 4px;
    font-size: $body-font-size;
    font-weight: 700;
    color: $darkshade50;
    &::after {
      content: '\20BD';
    }
  }
  &__time {
    display: flex;
    transform: translateY(2px);
    font-size: $h3-font-size;
    color: $darkshade50;
  }
  &__rating {
    margin-top: 8px;
    @include flex-justify-sb-align-c;
  }
  &__reviews-box {
    font-size: $body-font-size;
    color: $darkshade50;
    margin-top: 1px;
    line-height: 18px;
  }
  &__reviews-count {
    font-weight: 700;
    margin-right: 4px;
  }
}