.checkbox-buttons {
  max-width: 222px;
  font-size: $body-font-size;
  .field-wrapper__title {
    margin-bottom: 17px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  &__item {
    margin-bottom: 13px;
    color: $darkshade50;
    label {
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &::after {
        content: '';
        position: absolute;
        visibility: hidden;
        top: 4px;
        left: -24px;
        width: 8px;
        height: 6px;
        @include gradient;
        clip-path: polygon(0 0, 2px 0, 2px 4px, 8px 4px, 8px 6px, 0 6px);
        transform: rotate(-45deg);
      }
      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -30px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid $darkshade25;
      }
    }
    input {
      opacity: 0;
      display: none;
      z-index: -1;      
      &:checked + label::before {
        border: 1px solid $purple;
      }
      &:checked + label::after {
        visibility: visible;
      }
    }
  }
}