.room-selection {
  @include card-wrapper;
  &__title {
    margin-bottom: 22px;
  }
  &__dropdown {
    margin-bottom: 31px;
  }  
  &__date-dropdowns-wrapper {
    @include date-dropdowns-wrapper;
    margin-bottom: 20px;
  }
}