include ../dropdown/dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin room-selection()
  form(action="").room-selection
    h1.room-selection__title Найдём номера под ваши пожелания
    .room-selection__date-dropdowns-wrapper
      +date-dropdown({ title: 'Прибытие', isDateIn: true})
      +date-dropdown({ title: 'Выезд'})
    .room-selection__dropdown
      +dropdown({ title: 'Гости', placeholderText: 'Сколько гостей', id: 'guests' })
    +button({ text: 'Подобрать номер', style: 'fill', type: 'submit' })