include ../dropdown/dropdown
include ../date-dropdown/date-dropdown
include ../button/button

form(action="").room-selection
  h2.room-selection__title Найдём номера под ваши пожелания
  .room-selection__date-dropdowns-wrapper
    +date-dropdown({ title: 'Прибытие', main: true})
    +date-dropdown({ title: 'Выезд'})
  .room-selection__dropdown-guests
    +dropdown({ title: 'Гости', placeholderText: 'Сколько гостей', id: 'guests' })
  +button({ text: 'Подобрать номер', className: 'button-fill button-main' })