.checkbox-buttons {
  @include field-wrapper;
  font-size: $body-font-size;
  &__title {
    @include field-title;
    margin-bottom: 18px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
}