include ../checkbox/checkbox

mixin checkbox-buttons({ checkboxItems, title })
  .checkbox-buttons
    .checkbox-buttons__title= title
    .checkbox-buttons__items
      each checkbox in checkboxItems
        +checkbox({ labelText: checkbox.labelText, name: checkbox.name })

  