include ../checkbox/checkbox

mixin checkbox-buttons(props)
  -
    var radios = props.radios;

  .checkbox-buttons
    .checkbox-buttons__title= props.title
    .checkbox-buttons__items
      each radio in radios
        +checkbox({ name: radio.name, id: radio.id, placeholder: props.placeholder })

  