.checkbox-buttons {
  max-width: 222px;
  font-size: $body-font-size;
  &.field-wrapper {
    margin-bottom: 29px;
  }
  .field-wrapper__title {
    margin-bottom: 18px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
}