.cards {
  background: rgb(244, 244, 246);
  &__container {
    @include container;
    @include ui-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    margin: 0 auto;
    max-width: 1440px;
  }
  &__room-card {
    margin-bottom: 40px;
  }
}