$darkshade: rgb(31, 32, 65);
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.50);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade10: rgba(31, 32, 65, 0.1);
$darkshade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;


$light-blue: #66D2EA;
$blue: rgb(75, 131, 235);
$white: #fff;
$title-color: rgb(204, 49, 49);
$gradient: linear-gradient($purple, #8BA4F9);

$h1-font-size: 24px;
$h2-font-size: 19px;
$h3-font-size: 12px;

$body-font-size: 14px;

$nav-height: 70px;

@mixin boxshadow {
  box-shadow: 0px 10px 20px $darkshade5;
}

@mixin boxshadow10 {
  box-shadow: 0px 10px 20px $darkshade10;
}

@mixin gradient25 {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

@mixin gradient {
  background: $gradient;
}

@mixin blue-green-gradient {
  background: linear-gradient($green, $light-blue);
}

@mixin montserrat {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin flex-justify-sb-align-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-sb-align-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-justify-end-align-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-justify-c-align-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  place-items: center;
}

@mixin material-icons-icon {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

@mixin material-icons-text-only {
  font-family: 'Material Icons';
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: grid;
  place-items: center;
  line-height: 1;
}

@mixin field-wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
}

@mixin field-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: $h3-font-size;
  font-weight: 700;
}

@mixin field-arrow {
  @include material-icons-icon;
  top: 20px;
  color: $darkshade50;
  -webkit-user-select: none;
  z-index: 4;
  &:hover {
    cursor: pointer;
  }
  &:hover + input {
    border: 1px solid $darkshade50;
  }
}

@mixin field-input {
  width: 100%;
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 1px;
  line-height: 24px;
  border: 1px solid $darkshade25;
  border-radius: 4px;
  color: $darkshade75;
  font-size: $body-font-size;
  @include montserrat;
  @media (max-width: 340px) {
    max-width: 95vw;
  }
  &:hover,
  &:focus {
    border: 1px solid $darkshade50;
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    color: $darkshade25;
  }  
}

@mixin field-input-activated {
  border-color: $darkshade50;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));
}

@mixin card-wrapper {
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  max-width: 380px;
  padding: 29px;
  padding-top: 39px;
  margin-bottom: 40px;
  width: 380px;
  @media (max-width: 380px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 90vw;
  }
  @media (max-width: 340px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 94vw;
  }
}

@mixin card-title {
  margin-bottom: 21px;
  font-size: $h1-font-size;
}

@mixin checkbox {
  margin-bottom: 12px;
  color: $darkshade50;
}

@mixin checkbox-input {
  opacity: 0;
  display: none;
  z-index: -1;      
  &:checked + label::before {
    border: 1px solid $purple;
  }
  &:checked + label::after {
    visibility: visible;
  }
}

@mixin checkbox-label {
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: '';
    position: absolute;
    visibility: hidden;
    top: 4px;
    left: -24px;
    width: 8px;
    height: 6px;
    @include gradient;
    clip-path: polygon(0 0, 2px 0, 2px 4px, 8px 4px, 8px 6px, 0 6px);
    transform: rotate(-45deg);
  }
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $darkshade25;
  }
}

@mixin date-dropdowns-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 380px) {
    column-gap: 5px;
  }
}

@mixin container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px; 
  @media (max-width: 340px) {
    padding-right: 3vw;
    padding-left: 3vw;
  }
}

@mixin ui-container {
  max-width: 1440px;
  @media (max-width: 1440px) {
    padding: 0 10vw;
  }
  @media (max-width: 950px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 350px) {
    padding: 0 3vw;
  }
}