.form-elements {
  background: #fff;
  &__container {
    @include container;
    @include ui-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 80px;
    max-width: 1440px;
    width: 95vw;
    padding: 0 141px;
    @media (max-width: 1439px) {
      padding: 0;
      margin: 0 auto;
      column-gap: auto;
    }
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 730px) {
      grid-template-columns: 1fr;
    }
  }
  &__text-inputs
  &__rooms-dropdown,
  &__expandable-checkbox-list,
  &__room-info {
    margin-right: 126px;
    @media (max-width: 1439px) {
      margin-right: 0;
    }
  }
  &__column {
    max-width: 320px;
    width: 320px;
  }
  &__text-field {
    margin-bottom: 20px;
  }
  &__date-dropdowns-wrapper {
    @include date-dropdowns-wrapper;
    margin-bottom: 40px;
  }
  &__interactive-inputs,
  &__rich-checkbox-buttons {
    margin-right: 72px;
    @media (max-width: 1439px) {
      margin-right: 0;
    }
  }
  &__radio-buttons {
    margin-bottom: 33px;
  }
  &__buttons {
    @include field-wrapper;
  }
  &__buttons-title {
    @include field-title;
    margin-top: 44px;
    margin-bottom: 15px;
  }
  &__buttons-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  &__guests-dropdown,
  &__review  {
    grid-column: 2 / 4;
    @media (max-width: 1100px) {
      grid-column: 1 / 3;
    }
    @media (max-width: 730px) {
      grid-column: 1 / 2;
    }
  }
  &__expandable-checkbox-list {
    transform: translateY(-14px);
  }
  &__review {
    padding-top: 10px;
  }
}
