.login-page, .registration-page {
  background: url('../img/login-bg.jpg') no-repeat center / cover;
  justify-content: center;
  flex-direction: column;
  &__container {
    @include container;
    display: flex;
    justify-content: center;
  }
}

.registration-page {
  padding: 20px 0;
}

.login-page {
  padding: 172px 0;
  @media (max-width: 1439px) {
    padding: calc((100vh - 431px) / 2) 0;
  }
}
