@import '@/assets/styles/consts.scss';
@import '@/assets/styles/montserrat.scss';
@import '@/assets/styles/styles.scss';
@import '@/assets/styles/colors-and-type.scss';
@import '@/assets/styles/cards.scss';
@import '@/assets/styles/form-elements.scss';
@import '@/assets/styles/headers-footers.scss';
@import '@/assets/styles/landing.scss';
@import '@/assets/styles/login-registration.scss';
@import '@/components/button/button.scss';
@import '@/components/logo/logo.scss';
@import '@/components/color-item/color-item.scss';
@import '@/components/color-box/color-box.scss';
@import '@/components/types-box/types-box.scss';
@import '@/components/type-item/type-item.scss';
@import '@/components/text-field/text-field.scss';
@import '@/components/dropdown/dropdown.scss';
@import '@/components/date-dropdown/date-dropdown.scss';
@import '@/components/subscription-text-field/subscription-text-field.scss';
@import '@/components/filter-date-dropdown/filter-date-dropdown.scss';
@import '@/components/checkbox/checkbox.scss';
@import '@/components/checkbox-buttons/checkbox-buttons.scss';
@import '@/components/radio-buttons/radio-buttons.scss';
@import '@/components/toggle/toggle.scss';
@import '@/components/masked-text-field/masked-text-field.scss';
@import '@/components/like-button/like-button.scss';
@import '@/components/rate-button/rate-button.scss';
@import '@/components/range-slider/range-slider.scss';
@import '@/components/buttons/buttons.scss';
@import '@/components/button/button.scss';
@import '@/components/pagination/pagination.scss';
@import '@/components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '@/components/rich-checkbox/rich-checkbox.scss';
@import '@/components/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '@/components/bullet-list/bullet-list.scss';
@import '@/components/room-info/room-info.scss';
@import '@/components/review/review.scss';
@import '@/components/room-selection/room-selection.scss';
@import '@/components/registration/registration.scss';
@import '@/assets/styles/datepicker.css';
@import '@/components/room-reservation/room-reservation.scss';
@import '@/components/login/login.scss';
@import '@/components/room-card/room-card.scss';
@import '@/components/room-rating-chart/room-rating-chart.scss';
@import '@/components/nav/nav.scss';
@import '@/components/filter/filter.scss';
@import '@/components/rooms/rooms.scss';
@import '@/components/gallery/gallery.scss';
@import '@/assets/styles/search-room.scss';
@import '@/assets/styles/room-details.scss';
@import '@/components/room-info-block/room-info-block.scss';
@import '@/assets/styles/slick.css';
@import '@/components/header/header.scss';
@import '@/components/footer/footer.scss';