.room-details {
  background: #fff;
  margin-bottom: 1px;
  &__container {
    @include container;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding-top: 70px;
    padding-bottom: 61px;
    column-gap: 70px;
    row-gap: 70px;
    flex-wrap: wrap;
  }
}