.search-room {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-bottom: 1px;
  &__container {
    @include container;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    width: 1200px;
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 630px) {
      flex-wrap: wrap;
    }
  }
}