*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include montserrat;
  color: $darkshade;
  margin: 0;
  background: rgb(244, 244, 246);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 700;
}

h2 {
  font-size: $h2-font-size;
  font-weight: 700;
}

button {
  @include montserrat;
  &:hover {
    cursor: pointer;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

main {
  flex: 1 0 auto;
  margin-top: 70px;
  width: 100%;
}

.uikit-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 0 65px 30px;
}

.home-page {
  &__links {
    @include flex-justify-c-align-c;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 0;
  }
  &__link {
    text-decoration: none;
    color: $darkshade75;
    &:active,
    &:focus,
    &:visited {
      color: $darkshade75;
    }
  }
}