.room-reservation {
  @include card-wrapper;
  &__header {
    @include flex-justify-sb-align-end;
    margin-bottom: 0;
    border-bottom: 1px solid $darkshade10;
    padding-bottom: 10px;
    margin-bottom: 17px;
    padding-bottom: 0;
    border: 0;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  } 
  &__number {
    margin-right: 9px;
    font-size: $h1-font-size;
    line-height: 29px;
    &::before {
      content: '№';
      margin-right: 4px;
      font-size: $body-font-size;
      font-weight: 700;
    }
  }
  &__lux {
    margin-bottom: 4px;
    font-size: $h3-font-size;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    color: $purple;
  }
  &__price-box {
    display: flex;
    align-items: flex-end;
    line-height: 18px;
  }
  &__day-price {
    margin-right: 4px;
    margin-bottom: 5px;
    font-size: $body-font-size;
    font-weight: 700;
    color: $darkshade50;
    &::after {
      content: '\20BD';
    }
  }
  &__time {
    color: $darkshade50;
    font-size: $h3-font-size;
    margin-bottom: 3px;
    display: flex;
  }
  &__date-dropdowns-wrapper {
    @include date-dropdowns-wrapper;
    margin-bottom: 20px;
  }
  &__dropdown-guests {
    margin-bottom: 21px;
  }
  &__notes {
    padding-left: 1px;
    margin-bottom: 30px;
  }
  &__note {
    display: grid;
    grid-template-columns: minmax(auto, 240px) 1fr;
    color: $darkshade75;
    font-size: $body-font-size;
    @media (max-width: 380px) {
      grid-template-columns: 2fr 1fr;
    }
    &:first-child {
      margin-bottom: 16px;
    }
    &:nth-child(2) {
      margin-bottom: 14px;
    }
  }
  &__service {
    max-width: 215px;
  }
  &__service-box {
    display: grid;
    grid-template-columns: 1fr 20px;
    justify-content: space-between;
    width: 239px;
    @media (max-width: 380px) {
      width: auto;
    }
  }  
  &__info {
    display: inline-grid;
    place-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $darkshade25;
    border-radius: 50%;
    color: $darkshade25;
    font-size: $h3-font-size;
    font-weight: 700 ;
  }
  &__price {
    justify-self: end;
    &::after {
      content: '\20BD'
    }
  } 
  &__total-wrapper {
    display: flex;
    font-size: $h2-font-size;
    color: $darkshade;
    font-weight: 700;
    margin-bottom: 21px;
    line-height: 23px;
  }
  &__label {
    padding-left: 1px;
  }
  &__space-dots {
    flex: 1;
    background: linear-gradient(90deg, $darkshade25 1px, transparent 1px) repeat-x;
    height: 1px;
    align-self: flex-end;
    background-size: 2px;
    margin: 0 5px;
    margin-bottom: 4px;
  }
  &__total-price {
    @media (max-width: 340px) {
      margin-right: 0;
    }
    &::after {
      content: '\20BD'
    }
  }   
}