.text-field {
  @include field-wrapper;
  &__title {
    @include field-title;
  }
  &__input {
    @include field-input;
    padding-bottom: 4px;
    letter-spacing: -0.012em;
    word-spacing: -0.005em;
  }
}