.nav {
  flex: 1;
  @media (max-width: 950px) {
    flex: 0;
  }
  &__link-items {
    @include flex-justify-end-align-c;
    height: $nav-height;
    @media (max-width: 950px) {
      flex-direction: column;
      height: auto;
      row-gap: 25px;
      margin-bottom: 30px;
    }
  }
  &__item {
    height: 100%;
    &:nth-child(1),
    &:nth-child(2) {
      .nav__link,
      .nav__sub-header {
        padding-right: 11px;
      }
    }
  }
  &__link,
  &__sub-header {
    display: flex;
    place-items: center;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    font-size: $body-font-size;
    color: $darkshade50;
    transition: .2s;
    &:hover {
      background: darken(#fff, 2%);
      cursor: pointer;
    }
    &_active {
      font-weight: 700;
      color: $darkshade75;
    }
  }
  &__item-submenu {
    position: relative;
    @include flex-justify-sb-align-c;
    @media (max-width: 950px) {
      flex-direction: column;
    }
  }
  &__item-submenu:hover &__submenu {
    display: flex;
  }
  &__item-submenu &__sub-header::after {
    content: 'expand_more';
    transform: translate(1px, 1px);
    font-family: 'Material Icons';
    text-transform: none;
    font-size: $h1-font-size;
    font-weight: 400;
    line-height: 1;
    color: $darkshade50;
  }
  &__submenu {
    position: absolute;
    display: none;
    top: 100%;
    min-width: 100%;
    flex-direction: column;   
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
    background: #fff;
    @include boxshadow;
    @media (max-width: 950px) {
      position: relative;
      box-shadow: none;
    }
  }
  &__sub-item {
    @include grid-center;    
  }
  &__sub-item &__link {
    width: 100%;
    @include flex-center;
    white-space: nowrap;
    height: 50px;
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}