.registration {
  @include card-wrapper;
  width: 100%;
  margin-bottom: 0;
  background: #fff;
  &__title {
    margin-bottom: 21px;
  }
  &__first-name {
    margin-bottom: 10px;
  }
  &__last-name {
    margin-bottom: 10px;
  }
  &__radio-buttons {
    margin-bottom: 16px;
  }
  &__masked-text-field {
    margin-bottom: 20px;
  }
  &__email {
    margin-bottom: 10px;
  }
  &__password {
    margin-bottom: 10px;
  }
  &__suggestions {
    margin-bottom: 26px;
  }
  &__submit-button {
    margin-top: 16px;
    margin-bottom: 30px;
  }
  &__login-wrapper {
    @include flex-justify-sb-align-c;
  }
  &__already-reg {
    font-size: $body-font-size;
    margin-left: 1px;
    transform: translateY(-1px);
  }
}