mixin color-item({ iconClassName, title, hexCode })
  .color-item
    .color-item__icon(class=`color-item__icon_color_${iconClassName}`)
    .color-item__text-box
      h2.color-item__title= title
      .color-item__hex-code= hexCode