@import '@/assets/styles/consts.scss';

.color-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: $h2-font-size;
  &__icon {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
    @media (max-width: 390px) {
      margin-right: 4vw;
    }
    &_darkshade {
      &-100 {
        background: $darkshade;
      }
      &-75 {
        background: $darkshade75;
      }
      &-50 {
        background: $darkshade50;
      }
      &-25 {
        background: $darkshade25;
      }
      &-5 {
        background: $darkshade5;
      }
    }
    &_purple {
      background: $purple;
    }
    &_green {
      background: $green;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__hex-code {
    font-weight: 400;
  }
}